* {
  font-family: sans-serif;
}
.cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: space-around;
  width: 300px;
  margin: auto;
  /* height: 300px; */
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 6px gray;
  border-radius: 10px;
}
.favcard {
  box-shadow: 0 0 12px orange;
}
.card img {
  border-radius: 5px;
}
.card .info {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.card i {
  position: relative;
  left: 45%;
}

.showHideCards {
  cursor: pointer;
  width: max-content;
  border-bottom: 2px solid black;
}
